body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
   
}

header .logo img {
    height: 100px;
    border-radius: 30%;

    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(85, 99, 9);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FFC107; /* Cor ao passar o mouse */
}

.swiper {
    width: 100vw;
    height: 50vh; /* Ocupa toda a tela */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área */
}

.hero {
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.hero .btn {
    background-color: #FFC107;
    color: #DAF4F4;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.services, .products, .about, .contact {
    padding: 50px 20px;
    text-align: center;
}



.card-container {
    display: flex;
    justify-content: center; /* Alinha os cards no centro */
    gap: 50px; /* Espaçamento entre os cards */
    padding: 20px;
    flex-wrap: wrap; /* Garante que se ajustem em telas menores */
}

.service-item, .product-item {
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: center;
}

.service-item img, .product-item img {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service-item img:hover, .product-item img:hover {
    transform: scale(1.1);
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    background-color: #92a10a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

p {
    color: #ffffff ;
}



h3 {
    color: #ccc;
}

#trocar {
    width: 300px;
    height: 200px;
}

.card, .card2, .card3 {
    width: 290px;
    height: 274px;
    background: rgb(183, 226, 25);
    font-family: inherit;
    position: relative;
    border-radius: 8px;
}

.quote {
    color: rgb(223, 248, 134);
    padding-left: 30px;
    position: relative;
}

.card-name, .card2-name, .card3-name {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(127, 155, 29);
    padding: 35px;
    line-height: 23px;
}

.body-text {
    font-size: 20px;
    font-weight: 900;
    padding: 60px 40px 0;
    color: #465512;
    position: absolute;
    top: 40px;
    left: 1px;
    line-height: 23px;
}

.author {
    margin-top: 5px;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .author,
.card2:hover .author,
.card3:hover .author {
    opacity: 1;
}

.pic {
    width: 50px;
    height: 50px;
    background-color: rgb(158, 196, 21);
    border-radius: 50%;
}

.author-container {
    display: flex;
    align-items: center;
}

.author {
    font-weight: 700;
    color: rgb(127, 155, 29);
    padding-left: 30px;
}

.card .author svg, 
.card2 .author svg, 
.card3 .author svg {
    display: inline;
    font-size: 12px;
    color: rgba(128, 155, 29, 0.452);
}

.cor{
    color: #ffffff;
}

.corPreto {
    color: #000000;
    text-shadow: 1px 0 10px #ccc;
}

#corParaZinho{
    color: #ffffff;
}




@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes colorChange {
    0% { color: #ffffff; }
    50% { color: #020202; }
    100% { color: #555555; }
}

.hero h1 {
    font-size: 3rem;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

#corParaZinho {
    display: inline-block;
    animation: colorChange 2s infinite alternate;
}


button {
    position: relative;
    padding: 12px 35px;
    background: #ffffff;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #ececec;
    border-radius: 8px;
    box-shadow: 0 0 0 #f7fe958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #fcfe95;
    box-shadow: 0 0 25px #fef3958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
  





.btn {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
   }
   
   .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }

   img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    
    .service-item {
        width: 100%;
    }
}

.map-container {
    display: flex;
    justify-content: center; /* Centraliza */
    align-items: center;
    width: 100%; /* Ocupa toda a largura da tela */
}

iframe {
    width: 100vw; /* 80% da largura da tela */
    height: 400px; /* Ajuste conforme necessário */
    border: none;
}

h2{
color: white;
text-shadow: 1px 0 10px #ccc;

}

.swiper-pagination-bullet {
    background-color: white !important; /* Deixa a bolinha branca */
    opacity: 0.5; /* Deixa as não selecionadas mais discretas */
}

.swiper-pagination-bullet-active {
    background-color: white !important; /* Deixa a bolinha ativa branca */
    opacity: 1; /* Faz a bolinha ativa ficar mais visível */
}

html {
    scroll-behavior: smooth;
}


h2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

h2.show {
    opacity: 1;
    transform: translateY(0);
}



ul {
    list-style: none;
    padding-left: 18px
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="whatsapp"] .filled,
  .example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
    background-color: #128c7e;
  }
  
  .example-2 .icon-content a[data-social="facebook"] .filled,
  .example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
    background-color: #3b5998;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  


.container {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

a {
  text-decoration: none;
  color: inherit; /* ou escolha uma cor tipo #fff */
}

a:visited {
  color: inherit;
}
